<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @subject_teacher.teacher %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @subject_teacher.subject %>
</p>

<%= link_to 'Edit', edit_subject_teacher_path(@subject_teacher) %> |
<%= link_to 'Back', subject_teachers_path %>
